{% extends "base.html" %}
{% block content %}

<center>
  <h3 class="list-group-item list-group-item-action list-group-item-success" aria-disabled="true">ENTRADA Y SALIDA DE PACIENTES</h3>
</center>

<table class="table" class="table-success">
  <thead>
    <tr class="table-success">
      <th scope="col">Identificador</th>
      <th scope="col">Fecha de entrada</th>
      <th scope="col">Fecha de salida</th>
      <th scope="col">Número del paciente</th>
      <th scope="col">Número de la clinica</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>

  <tbody>
    {% for i in entrada_salida %}
    <tr>
      <th scope="row">{{i[0]}}</th>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
  
</table>

{% endblock %}