{% extends "base.html" %}
{% block content %}

<center>
  <h3 class="list-group-item list-group-item-action list-group-item-warning" aria-disabled="true">Registro de clínicas</h3>
</center>

<center>
  <form role="form" action="/registro_clinica" method="post" enctype="application/x-www-form-urlencoded">
      <div class="mb-3"> 
        <label for="exampleInputEmail1" class="form-label" >Nombre</label>
        <input type="text" name="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:600px">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Dirección</label>
        <input type="text" name="direccion" class="form-control" id="exampleInputPassword1" style="width:600px">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Telefono</label>
          <input type="text" name="telefono" class="form-control" id="exampleInputPassword1" style="width:600px">
        </div>
      <button type="submit" class="btn btn-warning">Registrar</button>
    </form>
  </center>

{% endblock %}